canvas {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
}

.container {
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-family: 'Cinzel', serif;
  font-size: 200%;
  text-align: center;
}

.day-val {
  grid-area: dval;
}

.hour-val {
  grid-area: hval;
}

.second-val {
  grid-area: sval;
}

.minute-val {
  grid-area: mval;
}

.day-unit {
  grid-area: dunit;
}

.hour-unit {
  grid-area: hunit;
}

.minute-unit {
  grid-area: munit;
}

.second-unit {
  grid-area: sunit;
}

.timer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
      "dval hval mval sval"
      "dunit hunit munit sunit";
  column-gap: 1vw;
  
}

.timer-item {
  font-family: 'Cinzel', serif;
  font-size: 200%;
  background-color: #000000ab;
  padding: 5px 10px 5px 10px;
}

.value {
  text-align: center;
  border-radius: 10px 10px 0 0;
}

.unit {
  text-align: center;
  border-radius: 0 0 10px 10px;
}


@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .header {
      font-size: 150%;
  }

  .timer {
      grid-template-areas: 
          "dval dunit"
          "hval hunit"
          "mval munit"
          "sval sunit";
      column-gap: 0;
      row-gap: 1vw;
  }

  .timer-item {
      padding-top: 0;
      padding-bottom: 0;
  }
  
  .value {
      border-radius: 10px 0px 0px 10px;
  }

  .unit {
      text-align: left;
      border-radius: 0px 10px 10px 0px;
  }
}